<div id="gallery">
	<div class="single-item">
		<div class="carousel">
			<%= image_tag "http://cache2.asset-cache.net/gc/171201896-diyorjon-turapov-of-uzbekistan-goes-round-gettyimages.jpg?v=1&c=IWSAsset&k=2&d=GkZZ8bf5zL1ZiijUmxa7Qc13PVR77f%2FVu%2BlEAOhxvwxbyKJFs8YgLShv4N9%2FjTmz" %>
		</div>
		<div class="carousel">
			<%= image_tag "http://www.oceaniafootball.com/ofc/Portals/0/Images/Articles/130328pt19.jpg" %>
		</div>
		<div class="carousel">
			<%= image_tag "http://www.oceaniafootball.com/ofc/Portals/0/Images/Articles/130327pt69web.jpg" %>
		</div>
		<div class="carousel">
			<%= image_tag "https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/v/t1.0-9/p526x296/552518_10151666030868989_2008270843_n.png?oh=a7332812d06e45ac7bc364accdc3122f&oe=5455D5CF&__gda__=1413002207_604465a0ddbd98ddad335ae9f8e57b4e" %>
		</div>
		<div class="carousel">
			<%= image_tag "http://www.oxfordmail.co.uk/resources/images/2139913.jpg?type=articleLandscape" %>
		</div>
		<div class="carousel">
			<%= image_tag "http://www.oxfordmail.co.uk/resources/images/2314552.jpg?type=articleLandscape" %>
		</div>
		<div class="carousel">
			<%= image_tag "http://www.wynrs.co.nz/pictures/U20%20v%20Uzbekistan.jpg" %>
		</div>
	</div>
</div>

