<div id="intro">
	<h1>
		Max Crocombe
	</h1>
	
	<h2>
		Goalkeeper for Oxford United FC and the New Zealand U20 national team
	</h2>

<br>
<br>
<br>

<p>
		<%= link_to (image_tag "http://www.vectorsland.com/imgd/l97533-oxford-united-fc-logo-13446.png", size: "120x120", class: "logo"), "http://www.oufc.co.uk/news/", target: "_blank" %>
		<%= link_to (image_tag "http://upload.wikimedia.org/wikipedia/en/6/6b/New_Zealand_Football.svg", size: "100x100", class: "logo", class: "inversion"), "http://www.nzfootball.co.nz/", target: "_blank" %>
	</p>

</div>

<div id="navbar">
	<div class="row">
		<div class="col-xs-3"><%= link_to "Career", "#career" %></div>
		<div class="col-xs-3"><%= link_to "Gallery", "#gallery" %></div>
		<div class="col-xs-3"><%= link_to "Profile", "#profile" %></div>
		<div class="col-xs-3"><%= link_to "Contact", "#contact" %></div>
	</div>
</div>