<%= render 'landing' %>

<%= render 'career' %>

<%= render 'carousel' %>

<%= render 'profile' %>

<%= render 'interview' %>

<div id="contact">
	<p>
		<%= link_to (image_tag "http://www.iconsdb.com/icons/preview/white/twitter-5-xxl.png", size: "50x50"), "https://twitter.com/Meeiix", target: "_blank" %> Follow Max on Twitter
	</p>
	<p>
		<%= link_to (image_tag "http://www.worldinmotion.com/templates/worldinmotion/images/logo.png", height: "50px"), "http://www.worldinmotion.com/pages/our-team.html", target: "_blank" %> Max is represented by World In Motion
	</p>
		<p>
		<%= link_to (image_tag "http://www.onesport.co.uk/ekmps/shops/onesport/resources/Design/onesport-logo-red-1-.bmp", height: "50px"), "http://www.onesport.co.uk/players-15-w.asp", target: "_blank" %> Max wears gloves by Onesport
	</p>
</div>




